<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.finz">

    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.finz.FinZApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:screenOrientation="portrait"
        android:launchMode="singleTask"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:largeHeap="true"
        android:hardwareAccelerated="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning,UnusedAttribute">
        <activity android:name=".activity.LoginRegisterActivity" android:theme="@style/CustomTheme"/>
        <activity android:name=".activity.HistoryActivity" android:theme="@style/CustomThemeNavigationWhite"/>
        <activity android:name=".activity.ProfileActivity" android:theme="@style/CustomThemeNavigationWhite"/>
        <activity android:name=".activity.SliderActivity"/>
        <activity android:name=".activity.DispositionMoneyActivity"/>
        <activity android:name=".activity.DispositionMoneyLastActivity"/>
        <activity android:name=".activity.DispositionMoneyFinishActivity"/>
        <activity android:name=".activity.ValidProcessActivity"/>
        <activity android:name=".activity.CreditEvaluationActivity"/>
        <activity android:name=".activity.SliderPresentationActivity"/>
        <activity
            android:name=".activity.MenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.finz.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path"/>
        </provider>

    </application>

</manifest>